@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');

::-webkit-scrollbar{
    width: 16px;
}
::-webkit-scrollbar-track{
    background: $bg-color;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background: $secondary-color;
    border-radius: 20px;
    padding-right: 10px;
    border: 6px solid $bg-color;
}

body {
  color: $primary-color;
  font-family: $font;
  background-color: $bg-color;
  margin: 0;
  max-width: 1400px;
  margin: auto;
}

button{
  border: 0;
}

a{
    text-decoration: none; 
    &:visited{
        color: $primary-color;
    }
}

input{
  outline: 0;
  border: 0;
}

p{
  margin: 0;
}
